// box template inspired by: https://www.youtube.com/watch?v=phWxA89Dy94&t=242s
$clr-dark: #9fa7ae;
$clr-light: #9fa7ae;
$clr-accent: black;

.background {
  background-color: $clr-light;
  color: $clr-accent;
}

.homeContainer {
  display: flex;

  // body
  margin: 0;
  padding: 1rem;
  padding-top: 5rem;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: $clr-accent;
  background-color: $clr-light;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;

  // container
  width: 80%;
  height: 700px;
  margin: 0 auto;

  .box {
    width: 150px;
    height: 150px;
    background-color: #f1f5f9;
    padding: 1em;

    text-align: center;
    border: 1px solid $clr-accent;
    border-radius: 1px;

    justify-content: center;
    justify-items: center;

    .text {
      width: 120px;
      height: 120px;
      color: $clr-accent;
      padding-top: 12px;
    }
  }
}
